@import "./stencils.scss";
@import "./variables.scss";
@import "@carfax-stencils/card/src/index.scss";

.cfx-card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
