.root {
  margin-bottom: 24px;
}

.flex {
  display: flex;
  justify-content: center;
}

.image {
  width: 300px;
  align-self: flex-end;
  picture,
  img {
    width: 100%;
  }
}

.content {
  width: 500px;
}

.heading {
  @extend %text-title-large;
  color: $blue;
  margin-bottom: 24px;
}

.featureList {
  margin-top: 16px;

  li {
    list-style-position: inside;
    list-style-type: disc;
    margin: 0.25rem;
  }
}
