.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $global-radius;
  padding: 24px 24px;
  background-color: $grey-light;

  .GoT_Card {
    margin: 20px;
    font-display: swap;
    font-family: "Open Sans", Arial;
    //font-family: "Open Sans", Times;
  }

  //To Set fallback font closer to web font:
  @font-face {
    font-family: Arial;
    src: local(Arial);
    size-adjust: 106%;
    //ascent-override: 100%; //EXPERIMENTAL
    //descent-override: 100%; //EXPERIMENTAL
    //line-gap-override: 125%; //EXPERIMENTAL
  }

  //To Perform high performance animations:
  .animate {
    animation: rotate 0.7s ease-in-out both;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .GoT_Text {
    text-align: center;
  }

  a {
    min-width: 280px;
    margin: 0 auto;
  }

  a + a {
    margin-top: pxToRem(16);
  }

  @media screen and (min-width: 800px) {
    // flex-direction: row;

    a {
      min-width: auto;
    }

    a + a {
      margin-top: initial;
    }
  }
}
