.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: $global-radius;
  padding: 24px 24px;
  background-color: $grey-light;

  .GoT {
    margin: 20px;
  }

  a {
    min-width: 280px;
    margin: 0 auto;
  }

  a + a {
    margin-top: pxToRem(16);
  }

  @media screen and (min-width: 800px) {
    flex-direction: row;

    a {
      min-width: auto;
    }

    a + a {
      margin-top: initial;
    }
  }
}
